*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: rgb(0, 0, 0);
}
.page{
    position:relative;
    width: 100%;
    margin-top: 0;
}

nav{
    background-color: rgba(199, 50, 57, 0.904);
    display:flex;
    margin:auto;
    padding:20px 0;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width:100%;

}


nav img{
    width: 50px;
    border-radius: 50%;
}

nav ul li {
    display:inline-block;
    list-style:none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(10, 85, 224);
    font-weight:bold;
}

nav ul li a:hover {
    color:rgb(0, 255, 42)
}

.image {
    box-sizing: border-box;
    position:absolute;
    top:150px;
    right:10px;
    margin:10px;
    
}

div>img{
    width:320px;
    height: 320px;
    border-radius: 35%;   
    box-sizing: border-box;
    box-shadow: 5px 10px 5px rgb(235, 13, 5) ;
    margin:10px auto;
    opacity: 0.85;
}
.text{
    box-sizing: border-box;
    position:absolute;
    left:0;
    color:aquamarine;
    text-align: center;
    margin-top: 250px;
    margin-left: 10px;
}

h1>span{
    color: rgba(255, 0, 0, 0.945);
}

p{
    line-height: 20px;
    font-family: "Sofia", sans-serif;
}

p>span{
    font-weight: bold;
    font-size: x-large;
}

.reply{
    color:beige;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width:768px) {
    .image{
        top:100px;
        left: 15%;
    }
    .text{
        top:300px;
    }
    
}

@media (max-width:576px) {
    .image{
        left: 0;
        margin-left: 45px;
    }
    div>img{
        width:280px;
        height: 280px;
    }
}